In [ ]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

# connection = create_server_connection("localhost", "root", '661063lt')
connection = create_server_connection("jackclx.mysql.pythonanywhere-services.com", "jackclx", '661063lt') 

def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

# create_database_query = 'CREATE DATABASE EasySplit'
# create_database(connection,create_database_query)

def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

# create_db_connection('localhost','root','661063lt','EasySplit')
connection = create_db_connection("jackclx.mysql.pythonanywhere-services.com", "jackclx", '661063lt', 'jackclx$EasySplit') 

def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

KeyboardInterrupt:

In [3]:
pip install MySQLdb

Defaulting to user installation because normal site-packages is not writeable
ERROR: Could not find a version that satisfies the requirement MySQLdb (from versions: none)
ERROR: No matching distribution found for MySQLdb
WARNING: You are using pip version 21.2.4; however, version 24.0 is available.
You should consider upgrading via the '/Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [8]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

# create_db_connection('localhost','root','661063lt','EasySplit')
connection = create_db_connection("jackclx.mysql.pythonanywhere-services.com", "jackclx", '661063lt', 'jackclx$EasySplit')

KeyboardInterrupt:

In [ ]:
create_user_table = """
CREATE TABLE IF NOT EXISTS users (
    user_id BIGINT PRIMARY KEY,
    username VARCHAR(255) NOT NULL,
    current_group_id INT, 
    FOREIGN KEY (current_group_id) REFERENCES split_groups(id);
    


);

CREATE TABLE IF NOT EXISTS split_groups (
    id INT AUTO_INCREMENT PRIMARY KEY,
    groupname UNIQUE VARCHAR(255) NOT NULL
);

CREATE TABLE IF NOT EXISTS transactions (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255),
    amount DOUBLE,
    created_by BIGINT,
    created_to BIGINT,
    group_id INT,
    created_at TIMESTAMP,
    FOREIGN KEY (created_by) REFERENCES users(user_id),
    FOREIGN KEY (created_to) REFERENCES users(user_id)
);


CREATE TABLE IF NOT EXISTS user_groups (
    user_id BIGINT,
    group_id INT,
    PRIMARY KEY (user_id, group_id),
    FOREIGN KEY (user_id) REFERENCES users(user_id),
    FOREIGN KEY (group_id) REFERENCES split_groups(id)
);
"""

connection = create_db_connection("localhost", "root", '661063lt', 'EasySplit') # Connect to the Database
execute_query(connection, create_user_table) # Execute our defined query

MySQL Database connection successful
Query successful

In [49]:
create_user_table = """
CREATE TABLE IF NOT EXISTS users (
    user_id BIGINT PRIMARY KEY,
    username VARCHAR(255) NOT NULL
);
"""

connection = create_db_connection("localhost", "root", '661063lt', 'EasySplit') # Connect to the Database
execute_query(connection, create_user_table) # Execute our defined query

MySQL Database connection successful
Query successful

In [2]:
create_user_table = """

CREATE TABLE IF NOT EXISTS split_groups (
    id INT AUTO_INCREMENT PRIMARY KEY,
    groupname VARCHAR(255) NOT NULL
);
"""
connection = create_db_connection("jackclx.mysql.pythonanywhere-services.com", "jackclx", '661063lt', 'jackclx$EasySplit') 
# connection = create_db_connection("localhost", "root", '661063lt', 'EasySplit') # Connect to the Database
execute_query(connection, create_user_table) # Execute our defined query

NameError: name 'create_db_connection' is not defined

In [60]:
create_user_table = """

CREATE TABLE IF NOT EXISTS transactions (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(255),
    amount DOUBLE,
    created_by BIGINT,
    created_to BIGINT,
    group_id INT,
    created_at TIMESTAMP,
    FOREIGN KEY (created_by) REFERENCES users(user_id),
    FOREIGN KEY (created_to) REFERENCES users(user_id)
);

"""

connection = create_db_connection("localhost", "root", '661063lt', 'EasySplit') # Connect to the Database
execute_query(connection, create_user_table) # Execute our defined query

MySQL Database connection successful
Query successful

In [55]:
create_user_table = """

CREATE TABLE IF NOT EXISTS user_groups (
    user_id BIGINT,
    group_id INT,
    PRIMARY KEY (user_id, group_id),
    FOREIGN KEY (user_id) REFERENCES users(user_id),
    FOREIGN KEY (group_id) REFERENCES split_groups(id)
);
"""

connection = create_db_connection("localhost", "root", '661063lt', 'EasySplit') # Connect to the Database
execute_query(connection, create_user_table) # Execute our defined query

MySQL Database connection successful
Query successful